# NW SDK
nw.exe
chromedriver.exe
credits.html
d3dcompiler_47.dll
ffmpeg.dll
icudtl.dat
libEGL.dll
libGLESv2.dll
nacl_irt_x86_64.nexe
natives_blob.bin
node.dll
nw_100_percent.pak
nw_200_percent.pak
nw_elf.dll
nw.dll
nwjc.exe
payload.exe
resources.pak
snapshot_blob.bin
locales/
pnacl/
swiftshader/
.DS_Store

# BASE OMORI STUFF
package.json

/www/data
/www/audio
/www/fonts
/www/icon
/www/img
/www/js
/www/languages
/www/maps
/www/movies
/www/editor.json
/www/package.json
/www/steam_appid.txt

latest.log

/www/mods/sdk_bypass.zip
/www/save
/www/mods/shibahoodiekel
/www/mods/nekomori
/www/mods/dragndrop (11).zip
/.oneloader-image-cache
/www/l
/www/Game.rpgproject
OMORI.exe
steam_appid.txt
